<!DOCTYPE html>
<html lang="zh-CN" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>购买订单</title>
</head>
<body>
<div align="center">
    <ul th:object="${orderInfo}">
          <li th:text="|订单编号:*{orderNum}|"></li>
          <li th:text="|电影名：*{movieName}|"></li>
          <li th:text="|票价：*{ticketPrice}|"></li>
          <li th:text="|数量：*{ticketNum}"|></li>
          <li><a th:href="@{/gotoPay(orderNum=${orderInfo.orderNum})}">付款</a></li>
      </ul>
</div>
</body>
</html>